/*=== RESET ==========*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Archivo", sans-serif;
}

/*=== VARIABLES ==========*/
:root {
  /* COLORS */
  --brand-color: #7CA2F4;

  --dark: #121214;

  --gray: #F3F7FF;
  --white: #FFFFFF;
}

/*=== NOTICE ==========*/
.notice {
  background-color: var(--gray);

  padding: 0.75rem 0;
}

.notice p {
  font-size: 0.875rem;
  font-weight: 500;
  text-align: center;
  color: var(--dark);
}

/*=== HEADER ==========*/
header {
  background-image: url("../images/image-michael-jordan.png");
  background-position: center top;
  background-size: cover;
  width: 100%;
  height: 21.875rem;

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding-left: 1.5rem;
}

header img {
  width: 8.875rem;

  margin-bottom: 2.5rem;
}

.header-info {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.header-info h1 {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--white);
}

.header-info p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 22.4px;
  color: var(--white);

  max-width: 20.5rem;
}

/*=== SECTION ==========*/
section {
  padding: 3.5rem 1.5rem;
}

section h2 {
  font-size: 1.25rem;
  font-weight: 600;
  text-align: center;
  color: var(--dark);

  margin-bottom: 0.75rem;
}

section > p {
  font-size: 0.875rem;
  font-weight: 400;
  text-align: center;
  line-height: 19.6px;
  color: var(--dark);

  max-width: 19.9375rem;
  margin: 0 auto 2.5rem auto;
}

.sneakers {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 2.5rem;
}

.card .sneaker-image {
  background-color: var(--gray);
  width: 19.9375rem;
  height: 12.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-bottom: 1.5rem;
}

.card .sneaker-info {
  max-width: 19.9375rem;

  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  margin-bottom: 1.5rem;
}

.card .sneaker-info h3 {
  font-size: 1rem;
  font-weight: 500;
  line-height: 20.8px;
  color: var(--dark);
}

.card .sneaker-info span {
  font-size: 1rem;
  font-weight: 500;
  color: var(--brand-color);
}

.card .sneaker-price {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  font-size: 1.25rem;
  color: var(--dark);
  text-align: start;
}

@media screen and (min-width: 768px) {
  .notice p {
    font-size: 1rem;
  }
  header {
    padding-left: 2rem;
  }
  .header-info p {
    font-size: 1.125rem;
    line-height: 25.2px;

    max-width: 25rem;
  }
  section {
    padding: 3.5rem 2rem;
  }
  section h2 {
    font-size: 1.5rem;
  }
  section > p {
    font-size: 1rem;
    line-height: 22.4px;

    max-width: 32.5rem;
    margin: 0 auto 2.5rem auto;
  }
  .sneakers {
    display: grid;
    grid-template-columns: repeat(2, 21rem);
    justify-items: center;
    place-content: center;
    gap: 2.5rem 2rem;
  }
  .card .sneaker-image {
    width: 21rem;
  }
  .card .sneaker-info {
    max-width: 21rem;
  }
  .card .sneaker-info h3 {
    font-size: 1.125rem;
    line-height: 23.4px;

  }
}

/* @media screen and (min-width: 1216px) {
  .sneakers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    place-content: center;
    gap: 2.5rem;
  }
} */