.input {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  color: var(--gray-10);

  border-radius: 0.25rem;
  border: 1px solid var(--gray-20);
  outline: 0;

  padding: 1rem 1.125rem;
  margin-bottom: 1.5rem;
}

.input:focus {
  border: 1px solid var(--brand-color);
}

@media screen and (min-width: 768px) {
  .input {
    font-size: 1.125rem;
    padding: 1.125rem 1.5rem;
  }
}