* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --brand-color: #97edaa;

  --dark-10: #0b0b0b;
  --dark-20: #101010;
  --dark-30: #1f1f1f;

  --white: #ffffff;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Archivo", sans-serif;
  background-color: var(--dark-10);
}

img {
  display: block;
  max-width: 100%;
}

span,
button {
  display: block;
}

.container {
  padding: 0 2.4rem;
}

.section {
  margin-bottom: 15rem;
}
