.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items:center; */
  height: 100vh;
}

.content-form {
  max-width: 400px;
  margin: 0 1.5rem;
}

.text-form {
  margin-bottom: 2.5rem
}

.text-form p {
  font-weight: 500;
  font-size: 1rem;
  color: var(--dark);

  margin-bottom: 0.5rem
}

.text-form h1 {
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--dark);
}

form {
  display: flex;
  flex-direction: column;
}

.remember-forgot {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 3.5rem;
}

.remember-forgot a {
  font-weight: 500;
  font-size: 0.875rem;
  color: var(--brand-color);
}

.remember {
  display: flex;
  gap: 0.5rem
}

.remember label {
  font-weight: 500;
}

.btn-form {
  padding: 0.875rem 2rem;
  border: none;
  border-radius: 4px;
  background-color: var(--brand-color);
  color: var(--white);
  font-weight: 600;
  font-size: 1rem;

  margin-bottom: 1.5rem
}

.btn-google {
  display: flex;
  align-items:center;
  gap: 0.75rem;

  padding: 0.875rem 2rem;
  border: none;
  border-radius: 4px;
  background-color: var(--dark);
  color: var(--white);
  font-weight: 600;
  font-size: 1rem;

  margin-bottom: 4rem;
}

.btn-google img {
  width: 16px;
}