.serviceContainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3.2rem;
}

.serviceCards {
  background-color: var(--dark-20);
  border: 2px solid var(--dark-30);
  border-bottom: 2px solid var(--brand-color);

  padding: 3.2rem 4rem;
}

.icon {
  width: 4rem;

  margin-bottom: 3.8rem;
}

.title {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2;
  color: var(--white);
  max-width: 9rem;
}

@media (width >= 768px) { 
  .icon {
    width: 5rem;
  }
  .title {
    font-size: 2.4rem;
  }
}

@media (width >= 915px) { 
  .serviceContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (width >= 1216px) { 
  .icon {
    width: 5.6rem;
  }
  .title {
    font-size: 3.2rem;
    max-width: 11rem;
  }
}
