.contact-section {
  background-color: var(--gray-40);

  padding: 4rem 0;
}

.contact-section h2 {
  font-weight: 600;
  font-size: 1.75rem;
  color: var(--dark);

  margin-bottom: 3rem;
}

@media screen and (min-width: 768px) {
  .contact-section {
    padding: 5rem 0;
  }
}

@media screen and (min-width: 1280px) {
  .contact-section h2 {
    font-size: 2rem;
    text-align: center;
  }
}