header {
  padding: 4rem 0;
  background-color: var(--gray-40);
}

.header-content {
 display: flex;
 flex-direction: column;
 align-items: center;
}

.header-image {
  margin-bottom: 1.5rem;
}

.header-image img {
  width: 207px;
}

.header-description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-description h1 {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 28.8px;
  text-align: center;
  color: var(--dark);

  margin-bottom: 1.5rem;
  max-width: 568px;
}

.header-description span {
  color: var(--brand-color);
}

.header-description p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
  text-align: center;
  color: var(--dark);

  margin-bottom: 1.5rem;
  max-width: 568px;
}

.header-description button {
  font-size: 0.875rem;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .header-image img {
    width: 330px;
  }
  .header-description h1 {
    font-size: 2rem;
    line-height: 38.4px;
    max-width: 465px;
  } 
  .header-description p {
    font-size: 1.25rem;
    line-height: 30px;
    max-width: 465px;
  }
  .header-description button {
    font-size: 1.125rem;
    width: 214px;
  }
}

@media screen and (min-width: 1216px) {
  header {
    padding: 3.125rem 0;
  }
  .header-content {
   flex-direction: row-reverse;
   gap: 235px;
  }
  .header-image {
    margin-bottom: 0;
  }
  .header-image img {
    width: 400px;
  }
  .header-description {
    align-items: start;
  }
  .header-description h1 {
    font-size: 2.5rem;
    line-height: 48px;
    text-align: left;
    margin-bottom: 2rem;
    max-width: 581px;
  }
  .header-description p {
    font-size: 1.5rem;
    line-height: 36px;
    text-align: left;
    margin-bottom: 2rem;
    max-width: 550px;
  }
  .header-description button {
    font-size: 1.125rem;
    width: 13.375rem;
  }
}