.about {
  margin-bottom: 6.4rem;
}

.description {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--white);
  line-height: 2;
  text-align: center;
}

.info {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 7rem;
  color: var(--white);
}

.info div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.icon {
  width: 6.2rem;
  height: 6.2rem;
  border: 1px solid var(--dark-30);
  background-color: var(--dark-20);
  border-radius: 50%;
  align-items: center;
}

.icon img {
  width: 3.2rem;
}

.titulo {
  font-size: 1.6rem;
  font-weight: 500;
}

.value {
  font-size: 1.4rem;
  font-weight: 400;
}

@media (width >= 768px) { 
  .info {
    gap: 12rem;
  }
  .description {
    font-size: 2rem;
  }   
  .titulo {
    font-size: 1.8rem;
  }
  .value {
    font-size: 1.6rem;
  }
}

@media (width >= 1216px) { 
  .description {
    font-size: 2.4rem;
  }   
  .titulo {
    font-size: 2rem;
  }
  .value {
    font-size: 1.8rem;
  }
}
